.container{
    max-width: 1440px;
    width: 100%;
margin: auto;
}
/* header */

header{
    padding: 34px 5%;
    background-color: #2E0230;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo_txt{
    width: 7%;
    display: flex;
    gap: 8px;
    align-items: center;
    
}
.logo_title{
    color: #F1ACEE;
font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 26px;
}
.search{
    width: 39%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 8px;
    background: #FFF;
    padding-left: 16px;
    
}
.search_input{
    width: 90%;
    height: 48px;
    border: none;
    outline: none;
}
.search_button{
    padding: 16px;
    border-radius: 0px 8px 8px 0px;
     background-color: #01ACA9;
}
.log_in{
    padding: 8px 16px;
    border-radius: 8px;
border: 1px solid #F30AEA;
background-color: transparent;
}
.login_shop{
    display: flex;
    gap: 8px;
}
.buttontxt{
    color: #FFF;
font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 26px;
}
.cart{
    padding: 13px;
    background-color: #F30AEA;
    border-radius: 8px;
}
/* Navigation */

.main_nav{
    padding: 15px 21%;
    background-color: #01ACA9;
}
.mainnav_ul{
    display: flex;
    justify-content: space-between;
}
.list{
    color: #FFF;
font-family: Poppins;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 26px;

}
.contactlist{
    position: relative;
}
   
    


.contactlist::after{
    content: "";
    height: 2px;
    width: 100%;
    margin-top: 8px;
    background-color: white;
    position: absolute; 
    bottom: -8px;
    left: 0;
}


/* section */
section{
    height: 1004px;
    padding: ;
    background-image: url(../images/cover\ image.png);
    
    background-size: cover;
    padding: 64px 0;
    
}
.section_div{
    padding: 48px ;
    width: 60%;
    margin: auto;
    border-radius: 20px;
border: 1px solid rgba(176, 82, 181, 0.79);
background: rgba(28, 19, 37, 0.80);
backdrop-filter: blur(5px);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section_div_title{
color: #FFF;
text-shadow: 2px 4px 4px rgba(249, 12, 239, 0.71);
font-family: Poppins;
font-size: 32px;
font-style: normal;
font-weight: 700;
line-height: 26px; /* 81.25% */
letter-spacing: 4px;
text-align: center;
margin-bottom: 80px;
}
.contact_form{
   width: 54%;
   margin: auto;
   display: flex;
   flex-direction: column;
   row-gap: 24px;
   
} 
.name_email{
    width: 100%;
    justify-content: space-between;
    
}
.nameMail{
width: 47%;
padding: 11px 22px;
background: transparent;
border-radius: 8px;
border: 1px solid #B052B5;
outline: none;
}
.select_div{

display: flex;
flex-direction: column;
gap: 8px;
}
.white_label{
    color: #FFF;
font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 26px;
}
.select{
    padding: 11px 22px;
    background: transparent;
    border-radius: 8px;
    border: 1px solid #B052B5;
    outline: none;
}
.radio_div{
    display: flex;
    align-items: center;
     gap: 8px;
    
}
.radio_class{
    appearance: none;
    width: 24px;
    height: 24px;
    border:2px solid rgba(243, 10, 234, 0.71) ;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

}
.radio_class:checked::after{
    content: "";
    width: 16px;
    height: 16px;
    background-color:white;
    border-radius: 50%;
}
.section_radio_label{
    color: #B052B5;
font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 26px;
}
.message_area{
    height: 112px;
    border-radius: 8px;
border: 1px solid #B052B5;
outline: none;
background: transparent;
resize: none;

}
.letter{
    display: flex;
    align-items: center;
    gap: 8px;
}
#receiveletter{
    appearance: none;
    width: 24px;
    height: 24px;
    border-radius: 4px;
    border: 2px solid rgba(243, 10, 234, 0.71);

}
#receiveletter:checked::after{
    content: "\f00c";
    font-family: "Font Awsome 6 free";
    font-weight: 900;
    font-size: 20px;
}
/* icon ვერ შემოვიყვანე */
.submit_button{
 padding: 11px 0;
 color: #FFF;
 font-family: Poppins;
 font-size: 16px;
 font-style: normal;
 font-weight: 700;
 border-radius: 16px;
background: #F30AEA;
border: none;
}
